.links {
    margin-top: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.links a.view {
    color: #007bff;
    text-decoration: none;
}
.links a.view:hover {
    color: #007bff;
    text-decoration: underline;
}
.links a.cancel, .links a.refund {
    color: #ff0000;
    text-decoration: none;
    margin-left: 10px;
}
.links a.cancel:hover, .links a.refund:hover {
    color: #ff0000;
    text-decoration: underline;
}