/* Loader */
#loader {
    border: 5px solid rgb(179, 179, 179);
    border-radius: 50%;
    border-top: 5px solid #00aff0;
    border-left: 5px solid #00aff0;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    display: none;
    z-index: 1000;
}
.loader-animation {
    display: block !important;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@media screen and (max-width: 1560px) {
    #loader {
        border: 5px solid rgb(179, 179, 179);
        border-radius: 50%;
        border-top: 5px solid #00aff0;
        border-left: 5px solid #00aff0;
        width: 50px;
        height: 50px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
        display: none;
        z-index: 1000;
    } 
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(720deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}